$titel-color: #d41443;
$section-label-color: #ffa5ba;
$black-text-color: #000000;
$gray-text-color: #907e82;
$white-color: #ffffff;
$pink-light-color: #ffb8ca;
$pink-deep-color: #918084;
$pink-backgroud: #fff5f6;
$border-color: #e18298;
$cappucino-color: #f0d1a5;
$green-color: #c2e297;
$hover-btn: #ecebeb;
$hover-btnred: #c7133e;