<!DOCTYPE html>
<section class="section section--adventages">
    <div class="container">
        <h2 class="section__subtitle hidden">Advantages</h2>
        <ul class="advantage">
            <li class="advantage__item advantage__item--milk">
                <h3 class="section__title section__title--adventage">721</h3>
                <p class="advantage__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantage__item advantage__item--apples">
                <h3 class="section__title section__title--adventage">16 kg</h3>
                <p class="advantage__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantage__item advantage__item--lollipop">
                <h3 class="section__title section__title--adventage">84</h3>
                <p class="advantage__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>