<footer class="footer" id="contacts">
	<div class="footer-container container">
		<div class="footer-left">
			<ul class="footer-slogan__list">
				<li class="footer-slogan__item"><span class="footer-first__text">homemade ice cream made</span></li>
				<li class="footer-slogan__item"><span class="footer-second__text">with passion</span></li>
			</ul>
		</div>

		<div class="footer__right">
			<ul class="footer-social">
				<li class="footer-social__item">
					<a href="https://github.com/" rel="noopener noreferrer" target="_blank" class="footer-social__link">
						<svg class="footer-social__icon" width="19" height="19">
							<use href="./images/icon-links.svg#icon-github"></use>
						</svg>
					</a>
				</li>
				<li class="footer-social__item">
					<a href="https://telegram.org/" rel="noopener noreferrer" target="_blank" class="footer-social__link">
						<svg class="footer-social__icon" width="19" height="19">
							<use href="./images/icon-links.svg#icon-telegram"></use>
						</svg>
					</a>
				</li>
				<li class="footer-social__item">
					<a href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank" class="footer-social__link">
						<svg class="footer-social__icon" width="19" height="19">
							<use href="./images/icon-links.svg#icon-facebook"></use>
						</svg>
					</a>
				</li>
			</ul>
			<a class="footer-contacts__tel" href="tel:+610383766284">
				<p class="pre-telefon">Feel free to contact&nbsp</p>
				+61 (0) 383 766 284
			</a>
		</div>
	</div>
	<div class="footer-bottom">
		<p class="footer-bottom__text">© 2019 - IceCream. All Rights Reserved.</p>
	</div>
</footer>
