<!DOCTYPE html>

<!-- Gallery -->
<section class="section">
	<h2 class="hidden">Gallery of works</h2>
	<div class="">
		<div>
			<!-- <img src="../images/gallery-desktop/berry-ice-cream3-1x.jpg" /> -->
			<!-- <picture>
				<source
					media="(max-width: 767px)"
					srcset="./images/team/team-2.webp 1x, ./images/team/team-2@2x.webp 2x"
					type="image/webp"
				/>
				<source media="(max-width: 767px)" srcset="./images/team/team-2.jpg 1x, ./images/team/team-2@2x.jpg 2x" />
				<source
					media="(max-width: 1199px)"
					srcset="./images/team/team-2-tablet.webp 1x, ./images/team/team-2-tablet@2x.webp 2x"
					type="image/webp"
				/>
				<source
					media="(max-width: 1199px)"
					srcset="./images/team/team-2-tablet.jpg 1x, ./images/team/team-2-tablet@2x.jpg 2x"
				/>
				<source
					media="(min-width: 1200px)"
					srcset="./images/team/team-2-desktop.webp 1x, ./images/team/team-2-desktop@2x.webp 2x"
					type="image/webp"
				/>
				<source
					media="(min-width: 1200px)"
					srcset="./images/team/team-2-desktop.jpg 1x, ./images/team/team-2-desktop@2x.jpg 2x"
				/>
				<img src="#" alt="Ольга Репина Frontend Developer" />
			</picture> -->
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</section>
