<!DOCTYPE html>
<header class="header">
	<div class="container">
		<div class="logo">
			<a href="./index.html">
				<img
					class="logo__img"
					srcset="./images/logo1x.png 1x, ./images/logo2x.png 2x"
					src="./images/logo1x.png"
					alt="Logo"
				/>
			</a>
		</div>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="/">Home</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#about-us">About us</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#howitsmade">How it’s made?</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#products">Our products</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#contacts">Contact</a>
				</li>
			</ul>
		</nav>

		<button type="button" class="button-burger js-open-menu" aria-label="Открывает мобильное меню" data-menu-button>
			<svg class="mobile-menu__open-icon" width="20" height="20">
				<use href="./images/icons.svg#menu-open"></use>
			</svg>
		</button>
		<button type="submit" class="button-submit" data-form-modal-open>Buy now &gt;</button>
	</div>
</header>

<section class="hero">
	<div class="container">
		<div class="hero__box">
			<h1 class="hero__title">
				<span class="title-first">ice cream made with</span>
				<span class="title-last">passion</span>
			</h1>
			<ul class="hero__list">
				<li class="hero__item">
					<a href="#products" class="hero__link hero__link-products">Products</a>
				</li>
				<li class="hero__item">
					<a href="#howitsmade" class="hero__link hero__link-him">How it’s made?</a>
				</li>
			</ul>
		</div>
		<div class="milk__box">
			<picture class="picture-icecream">
				<source
					srcset="./images/hero/hero-milk-desc1x.png 1x, ./images/hero/hero-milk-desc2x.png 2x"
					media="(min-width:1280px)"
				/>
				<source
					srcset="./images/hero/hero-milk-tablet1x.png 1x, ./images/hero/hero-milk-tablet2x.png 2x"
					media="(min-width:768px)"
				/>
				<img src="./images/hero/hero-milk-desc1x.png" alt="BioEco" />
			</picture>
		</div>
		<div class="milk__text">
			<p class="hero__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			</p>
			<button type="button" class="button-item">
				<svg class="icon-arrow-right" width="8" height="8">
					<use href="./images/icons.svg#icon-arrow-right"></use>
				</svg>
			</button>
		</div>
		<div class="circle"></div>
		<div class="hero__icecream">
			<picture class="hero__picture-icecream">
				<source
					srcset="./images/hero/hero-ice-cream-desc1x.png 1x, ./images/hero/hero-ice-cream-desc2x.png 2x"
					media="(min-width:1280px)"
				/>
				<source
					srcset="./images/hero/hero-ice-cream-tablet1x.png 1x, ./images/hero/hero-ice-cream-tablet2x.png 2x"
					media="(min-width:768px)"
				/>
				<source
					srcset="./images/hero/hero-ice-cream-mobile1x.png 1x, ./images/hero/hero-ice-cream-mobile2x.png 2x"
					media="(min-width:320px)"
				/>
				<img src="./images/hero/hero-ice-cream-desc1x.png" alt="IceCream" />
			</picture>
		</div>
		<div class="hero__girl">
			<picture class="hero__picture-girl">
				<source
					srcset="./images/hero/hero-girl-desc1x.png 1x, ./images/hero/hero-girl-desc2x.png 2x"
					media="(min-width:1280px)"
				/>
				<source
					srcset="./images/hero/hero-girl-tablet1x.png 1x, ./images/hero/hero-girl-tablet2x.png 2x"
					media="(min-width:768px)"
				/>
				<img src="./images/hero/hero-girl-desc1x.png" alt="Girl" />
			</picture>
		</div>
		<div class="hero__chain">
			<div class="cafes">
				<div class="chain"></div>
				<p class="chain__title">16</p>
				<p class="chain__text">cafes</p>
			</div>
			<div class="food-trucks">
				<div class="chain"></div>
				<p class="chain__title">23</p>
				<p class="chain__text">food trucks</p>
			</div>
		</div>
	</div>
</section>
