<!DOCTYPE html>

<section class="section section--pink">
	<div class="container">
		<h2 class="section__title hidden">Locations</h2>
		<ul class="locations">
			<li class="locations__item">
				<p class="locations-card__category locations-card__category--yellow">CAFE</p>
				<div class="locations-card__wrapp">
					<h3 class="locations-card__title">Chicago</h3>
					<p class="locations-card__description">Fusce ut velit laoret, tempus arcu molestie vulputate</p>
				</div>
				<div class="locations-card__wrapp">
					<ul class="schedule">
						<li class="schedule__item">
							<p>Monday - Friday</p>
							<p class="schedule__time">
								<time>06:00</time>
								AM -
								<time>10:00</time>
								PM
							</p>
						</li>
						<li class="schedule__item">
							<p>Saturday - Sunday</p>
							<p class="schedule__time">
								<time>08:00</time>
								AM -
								<time>16:00</time>
								PM
							</p>
						</li>
					</ul>
				</div>
				<address>
					<ul class="locations-address">
						<li class="locations-address__item">
							<a href="tel:+610383766284" class="locations-address__link">+61(0) 383 766 284</a>
						</li>
						<li class="locations-address__item">
							<a href="mailto:noreply@envato.com" class="locations-address__link">noreply@envato.com</a>
						</li>
					</ul>
				</address>
			</li>
			<li class="locations__item">
				<p class="locations-card__category locations-card__category--green">FOOD TRUCK</p>
				<div class="locations-card__wrapp">
					<h3 class="locations-card__title">Los Angeles</h3>
					<p class="locations-card__description">Fusce ut velit laoret, tempus arcu molestie vulputate</p>
				</div>
				<div class="locations-card__wrapp">
					<ul class="schedule">
						<li class="schedule__item">
							<p>Monday - Friday</p>
							<p class="schedule__time">
								<time>06:00</time>
								AM -
								<time>10:00</time>
								PM
							</p>
						</li>
						<li class="schedule__item">
							<p>Saturday - Sunday</p>
							<p class="schedule__time">
								<time>08:00</time>
								AM -
								<time>16:00</time>
								PM
							</p>
						</li>
					</ul>
				</div>
				<address>
					<ul class="locations-address">
						<li class="locations-address__item">
							<a href="tel:+610383766284" class="locations-address__link">+61(0) 383 766 284</a>
						</li>
						<li class="locations-address__item">
							<a href="mailto:noreply@envato.com" class="locations-address__link">noreply@envato.com</a>
						</li>
					</ul>
				</address>
			</li>
			<li class="locations__item">
				<p class="locations-card__category locations-card__category--yellow">CAFE</p>
				<div class="locations-card__wrapp">
					<h3 class="locations-card__title">New York</h3>
					<p class="locations-card__description">Fusce ut velit laoret, tempus arcu molestie vulputate</p>
				</div>
				<div class="locations-card__wrapp">
					<ul class="schedule">
						<li class="schedule__item">
							<p>Monday - Friday</p>
							<p class="schedule__time">
								<time>06:00</time>
								AM -
								<time>10:00</time>
								PM
							</p>
						</li>
						<li class="schedule__item">
							<p>Saturday - Sunday</p>
							<p class="schedule__time">
								<time>08:00</time>
								AM -
								<time>16:00</time>
								PM
							</p>
						</li>
					</ul>
				</div>
				<address>
					<ul class="locations-address">
						<li class="locations-address__item">
							<a href="tel:+610383766284" class="locations-address__link">+61(0) 383 766 284</a>
						</li>
						<li class="locations-address__item">
							<a href="mailto:noreply@envato.com" class="locations-address__link">noreply@envato.com</a>
						</li>
					</ul>
				</address>
			</li>
		</ul>

		<ul class="locations-button-wrapp">
			<li>
				<button type="button" class="locations-button locations-button--red" data-locations-modal-open>
					Our Locations
					<svg class="locations-button__icon" width="10" height="10">
						<use href="./images/icons.svg#icon-btn-arrow-white"></use>
					</svg>
				</button>
			</li>
			<li>
				<button type="button" class="locations-button locations-button--white" data-franchise-modal-open>
					Franchise
					<svg class="locations-button__icon" width="10" height="10">
						<use href="./images/icons.svg#icon-btn-arrow-pink"></use>
					</svg>
				</button>
			</li>
		</ul>

		<div class="locations-backdrop is-hidden" data-locations-modal>
			<div class="locations-modal">
				<button type="button" class="locations-modal__button" data-locations-modal-close>
					<svg class="locations-modal__icon" width="35" height="35">
						<use href="./images/icons.svg#modal-icon-close"></use>
					</svg>
				</button>
				<p class="locations-modal__title">Our locations 🍧</p>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20940875.019416016!2d-98.51639794442954!3d38.92862475225225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1638716328752!5m2!1sru!2sua"
					class="locations-modal-map"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
				></iframe>
			</div>
		</div>
	</div>
</section>
