<!DOCTYPE html>

<section class="section section--pink">
	<div class="container">
		<h1 class="section__title hidden">Locations</h1>
		<ul class="locations">
			<li class="locations__item">
				<div class="locations-card">
					<div class="locations-card__category locations-card__category--yellow">
						<p>CAFE</p>
					</div>
					<div class="locations-card__wrapp">
						<h2 class="locations-card__title">Chicago</h2>
						<p class="locations-card__description">Fusce ut velit laoret, tempus arcu molestie vulputate</p>
					</div>
					<div class="locations-card__wrapp">
						<ul class="schedule">
							<li class="schedule__item">
								<p>Monday - Friday</p>
								<p class="schedule__time">
									<time>06:00</time>
									AM -
									<time>10:00</time>
									PM
								</p>
							</li>
							<li class="schedule__item">
								<p>Saturday - Sunday</p>
								<p class="schedule__time">
									<time>08:00</time>
									AM -
									<time>16:00</time>
									PM
								</p>
							</li>
						</ul>
					</div>
					<address>
						<ul class="locations-address">
							<li class="locations-address__item">
								<a href="tel:+610383766284" class="locations-address__link">+61(0) 383 766 284</a>
							</li>
							<li class="locations-address__item">
								<a href="mailto:noreply@envato.com" class="locations-address__link">noreply@envato.com</a>
							</li>
						</ul>
					</address>
				</div>
			</li>
			<li class="locations__item">
				<div class="locations-card">
					<div class="locations-card__category locations-card__category--green">
						<p>FOOD TRUCK</p>
					</div>
					<div class="locations-card__wrapp">
						<h2 class="locations-card__title">Los Angeles</h2>
						<p class="locations-card__description">Fusce ut velit laoret, tempus arcu molestie vulputate</p>
					</div>
					<div class="locations-card__wrapp">
						<ul class="schedule">
							<li class="schedule__item">
								<p>Monday - Friday</p>
								<p class="schedule__time">
									<time>06:00</time>
									AM -
									<time>10:00</time>
									PM
								</p>
							</li>
							<li class="schedule__item">
								<p>Saturday - Sunday</p>
								<p class="schedule__time">
									<time>08:00</time>
									AM -
									<time>16:00</time>
									PM
								</p>
							</li>
						</ul>
					</div>
					<address>
						<ul class="locations-address">
							<li class="locations-address__item">
								<a href="tel:+610383766284" class="locations-address__link">+61(0) 383 766 284</a>
							</li>
							<li class="locations-address__item">
								<a href="mailto:noreply@envato.com" class="locations-address__link">noreply@envato.com</a>
							</li>
						</ul>
					</address>
				</div>
			</li>
			<li class="locations__item">
				<div class="locations-card">
					<div class="locations-card__category locations-card__category--yellow">
						<p>CAFE</p>
					</div>
					<div class="locations-card__wrapp">
						<h2 class="locations-card__title">New York</h2>
						<p class="locations-card__description">Fusce ut velit laoret, tempus arcu molestie vulputate</p>
					</div>
					<div class="locations-card__wrapp">
						<ul class="schedule">
							<li class="schedule__item">
								<p>Monday - Friday</p>
								<p class="schedule__time">
									<time>06:00</time>
									AM -
									<time>10:00</time>
									PM
								</p>
							</li>
							<li class="schedule__item">
								<p>Saturday - Sunday</p>
								<p class="schedule__time">
									<time>08:00</time>
									AM -
									<time>16:00</time>
									PM
								</p>
							</li>
						</ul>
					</div>
					<address>
						<ul class="locations-address">
							<li class="locations-address__item">
								<a href="tel:+610383766284" class="locations-address__link">+61(0) 383 766 284</a>
							</li>
							<li class="locations-address__item">
								<a href="mailto:noreply@envato.com" class="locations-address__link">noreply@envato.com</a>
							</li>
						</ul>
					</address>
				</div>
			</li>
		</ul>

		<div class="locations-button-wrapp">
			<button type="button" class="locations-button locations-button--red" data-form-modal2-open>
				Our Locations
				<svg class="locations-button__icon" width="10" height="10">
					<use href="./images/icons.svg#icon-btn-arrow-white"></use>
				</svg>
			</button>

			<button type="button" class="locations-button locations-button--white" data-form-modal2-open>
				Franchise
				<svg class="locations-button__icon" width="10" height="10">
					<use href="./images/icons.svg#icon-btn-arrow-pink"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
