<!DOCTYPE html>
<div class="menu-container js-menu-container is-hidden" id="mobile-menu">
	<button type="button" class="menu-toggle js-close-menu" aria-label="Закрывает мобильное меню" data-menu-button>
		<svg class="mobile-menu__close-icon">
			<use href="./images/icons.svg#icon-close"></use>
		</svg>
	</button>

	<button type="submit" class="header-button_right button-submit_mob" data-form-modal2-open>Buy now &gt;</button>

	<ul class="mobile-menu">
		<li class="mobile-menu__item">
			<a class="mobile-menu__link" href="">Home</a>
		</li>
		<li class="mobile-menu__item">
			<a class="mobile-menu__link" href="#about-us">About Us</a>
		</li>
		<li class="mobile-menu__item">
			<a class="mobile-menu__link" href="#howitsmade">How it’s made?</a>
		</li>
		<li class="mobile-menu__item">
			<a class="mobile-menu__link" href="#products">Our products</a>
		</li>
		<li class="mobile-menu__item">
			<a class="mobile-menu__link" href="#contacts">Contact</a>
		</li>
	</ul>
</div>
