<section class="customer-reviews" id="about-us">
	<div class="container">
		<h2 class="hidden">Отзывы</h2>
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<ul class="customer-reviews__list list">
						<li class="customer-reviews__item">
							<img
								srcset="/images/customer-reviews/customer-1@1x.png 1x, /images/customer-reviews/customer-1@2x.png 2x"
								src="/images/customer-reviews/customer-1@1x.png"
								alt="Девушка-заказчик"
								class="customer-reviews__img"
							/>
							<div class="customer-reviews__box">
								<div class="customer-reviews__gradient">
									<p class="customer-reviews__text">
										Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
										quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
									</p>
								</div>
							</div>
							<h3 class="customer-reviews__title">Emily, Los Angeles</h3>
						</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<ul class="customer-reviews__list list">
						<li class="customer-reviews__item">
							<img
								srcset="/images/customer-reviews/customer-2@1x.png 1x, /images/customer-reviews/customer-2@2x.png 2x"
								src="/images/customer-reviews/customer-2@1x.png"
								alt="Девушка-заказчик"
								class="customer-reviews__img"
							/>
							<div class="customer-reviews__box">
								<div class="customer-reviews__gradient">
									<p class="customer-reviews__text">
										Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
										quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
									</p>
								</div>
							</div>
							<h3 class="customer-reviews__title">Angela, New York</h3>
						</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<ul class="customer-reviews__list list">
						<li class="customer-reviews__item">
							<img
								srcset="/images/customer-reviews/customer-3@1x.png 1x, /images/customer-reviews/customer-3@2x.png 2x"
								src="/images/customer-reviews/customer-3@1x.png"
								alt="Девушка-заказчик"
								class="customer-reviews__img"
							/>
							<div class="customer-reviews__box">
								<div class="customer-reviews__gradient">
									<p class="customer-reviews__text">
										Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
										quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
									</p>
								</div>
							</div>
							<h3 class="customer-reviews__title">Mariella, Chicago</h3>
						</li>
					</ul>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script>
			var swiper = new Swiper(".mySwiper", {
				pagination: {
					el: ".swiper-pagination",
				},
			});
		</script>
	</div>
</section>
