<!DOCTYPE html>

		<section class="customer-reviews" id="about-us">
			<div class="container">
				<h2 class="hidden">Отзывы</h2>
				<div class="customer-reviews__slider">
					<ul class="customer-reviews__list list">
						<li class="customer-reviews__item">
							<img
								srcset="
									./images/customer-reviews/customer-m-@1x.jpg 1x,
									./images/customer-reviews/customer-m-@2x.jpg 2x
								"
								src="./images/customer-reviews/customer-m-@1x.jpg"
								alt="Девушка-заказчик"
							/>
						</li>
					</ul>
				</div>
			</div>
		</section>

