@mixin button() {
	height: 44px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
	border: none;
	border-radius: 22px;
	cursor: pointer;
	// transition: $cubic;
}
// Стили правой кнопки хедера
.header__button-right {
	@include button();
	@include flex-center();
	justify-content: flex-end;
	padding: 0 37px;
	background-color: $white-color;
	color: $title-color;

	&:hover,
	&:focus {
		background-color: $hover-btn;
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
}

// Стили кнопок секции locations
.locations-button--red {
	@include flex-center();
	@include button();
	padding: 0 33px;
	background: $title-color;
	color: $white-color;
	@media screen and (max-width: 767px) {
		padding: 0 17px;
		margin: 0 auto 10px;
	}
	&:hover,
	&:focus {
		background-color: $hover-btnred;
	}
}

.locations-button--white {
	@include flex-center();
	@include button();
	padding: 0 40px;
	background: $white-color;
	color: $title-color;
	@media screen and (max-width: 767px) {
		padding: 0 32px;
		margin: 0 auto;
	}
	@media screen and (min-width: 768px) {
		margin-left: 15px;
	}
	&:hover,
	&:focus {
		background: $hover-btn;
	}
}

// Подключенная иконка-стрелка вправо внутри кнопки. Стили
.fa-angle-right {
	color: $title-color;
	text-align: center;
	padding-left: 13px;
	padding-top: 2px;
	&.fa-angle-right__red {
		color: $white-color;
		@media screen and (max-width: 767px) {
			padding-left: 8px;
		}
	}
}
// Стили кнопки секции about
.about__btn {
	@include flex-center();
	@include button();
	padding: 0 36px;
	color: $title-color;
	background-color: $white-color;

	&:hover,
	&:focus {
		background-color: $hover-btn;
	}

	&:active {
		box-shadow: inset 0 0 2px 2px rgba(0, 0, 100, 0.3);
	}

	@media screen and (max-width: 767px) {
		margin: auto;
	}
}
