.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1280px;
  }
}
