.footer {
	background-color: #fff5f6;
	width: 100%;
}

.footer-slogan__item:not(:last-child) {
	margin-bottom: 17px;
}

.footer-left {
	margin-bottom: 43px;

	@media screen and (max-width: 767px) {
		width: 234px;
	}
	@media screen and (min-width: 768px) and (max-width: 1279px) {
		margin-bottom: 91px;
		width: 340px;
	}
}

.footer-first__text {
	font-family: Titan One, sans-serif;
	font-size: 18px;
	line-height: 1.17;
	text-transform: uppercase;

	color: #ffa5ba;
	@media screen and (min-width: 768px) and (max-width: 1279px) {
		font-size: 26px;
		line-height: 1.15;
	}
	@media screen and (min-width: 1280px) {
		font-size: 30px;
		line-height: 1.13;
	}
}

.footer-second__text {
	font-family: Titan One, sans-serif;
	font-size: 34px;
	line-height: 1.15;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	color: #d41443;

	@media screen and (min-width: 768px) and (max-width: 1279px) {
		font-size: 48px;
	}

	@media screen and (min-width: 1280px) {
		font-size: 58px;
		line-height: 1.14;
	}
}

.footer-social {
	display: flex;
	align-items: right;
	justify-content: end;
	margin-bottom: 46px;
}

.footer-social__link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fea5bb;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: #d41443;
	}
}

.footer-social__item {
	width: 32px;
	height: 32px;
	&:not(:last-child) {
		margin-right: 28.24px;
	}
	@media screen and (min-width: 768px) and (max-width: 1279px) {
		width: 34px;
		height: 34px;
	}
}

.footer-social__icon {
	fill: #ffffff;
}
.footer-contacts__tel {
	justify-content: end;
	color: #d41443;
}

.pre-telefon {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.86;

	color: #000000;
	text-align: right;
	@media screen and (min-width: 768px) and (max-width: 1279px) {
		font-size: 14px;
	}
	@media screen and (min-width: 1280px) {
		font-size: 16px;
	}
}

.footer-contacts__tel {
	display: flex;
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.86;
	text-align: right;
	color: #d41443;
	margin-bottom: 43px;

	@media screen and (min-width: 768px) and (max-width: 1279px) {
		font-size: 14px;
	}
	@media screen and (min-width: 1280px) {
		font-size: 16px;
	}
}

.footer-bottom {
	text-align: center;
	border-top: 1px solid #e1e1e1;
	padding-top: 22px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	height: 89px;

	@media screen and (min-width: 768px) and (max-width: 1279px) {
		padding-top: 22px;
		padding-bottom: 25px;
		height: 73px;
	}
	@media screen and (min-width: 1280px) {
		padding-top: 9px;
		padding-bottom: 10px;
		height: 45px;
	}
}

.footer-bottom__text {
	font-family: DM Sans;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.52;
	color: #907e82;
	text-align: center;
	@media screen and (max-width: 767px) {
		width: 150px;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (min-width: 768px) {
		font-size: 14px;
		line-height: 1.86;
	}
}

.footer-container {
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
	}
}
