.backdrop-modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(255, 232, 237, 0.5);
  opacity: 1;
  z-index: 115;
  transition: opacity $cubic;
}

.is-hidden-modal-form {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity $cubic, visibility $cubic;
}

.backdrop-modal-form.is-hidden-modal-form .modal-form {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal-form {
  position: absolute;
  padding: 20px;
  background: linear-gradient(45deg, rgb(231, 159, 185), rgb(249, 249, 249));
  max-width: 450px;
  width: 85%;
  min-height: 600px;
  border: 1px solid $main-color;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $cubic;

  @media screen and (min-width: 768px) {
    width: 550px;
  }
}

.modal__title {
  display: block;
  font-family: Titan One;
  text-align: center;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: $hover-btnred;
}

.modal__area {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal__field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal__text {
  padding-left: 5px;
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $text-color;
}

.modal__input {
  width: 100%;
  height: 35px;
  padding-left: 10px;

  border: 1px solid rgba(46, 5, 5, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
  transition: border $cubic;

  &:focus-within {
    border: 1px solid $main-color;
  }
}

.modal__input--select {
  margin-bottom: 10px;
}

.comments {
  resize: none;
  padding: 13px;
  min-height: 100px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.button--center {
  text-align: center;
}

.modal__button {
  margin: 0 auto;
  min-width: 150px;
  height: 45px;
  cursor: pointer;
  background-color: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color $cubic;

  &:hover,
  &:focus {
    background-color: $hover-btnred;
  }
}

.close {
  fill: $main-color;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: background-color $cubic;

  color: $main-color;

  &:focus,
  &:hover {
    background-color: #ffb8ca;
  }
}
