.section--pink {
	background-image: linear-gradient(to bottom, $white-color 11.5%, $pink-backgroud 11.5%);

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(to bottom, $white-color 23%, $pink-backgroud 23%);
	}
}

.locations {
	display: block;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -20px;
	}

	@media screen and (min-width: 1200px) {
		margin-left: -30px;
	}
}

.locations__item {
	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 3 * 20px) / 3);
		margin-left: 20px;
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 3 * 30px) / 3);
		margin-left: 30px;
	}

	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
}

.locations-card {
	margin-left: auto;
	margin-right: auto;
	padding: 44px 15px 42px 26px;

	max-width: 220px;
	height: 100%;

	font-size: 12px;
	line-height: 1.85;
	letter-spacing: 0.04em;
	color: $black-text-color;

	background-color: $white-color;
	box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
	border-radius: 24px;

	@media screen and (min-width: 768px) {
		padding: 50px 31px;
		font-size: 14px;
	}

	@media screen and (min-width: 1200px) {
		max-width: 330px;
		padding: 50px 43px 62px;
		font-size: 16px;
	}
}

.locations-card__category {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;

	height: 16px;
	border-radius: 4px;
	color: $white-color;

	@media screen and (min-width: 768px) {
		font-size: 16px;
		height: 28px;
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 32px;
	}
}

.locations-card__category--yellow {
	width: 80px;
	background-color: $cappucino-color;

	@media screen and (min-width: 768px) {
		width: 73px;
	}
}

.locations-card__category--green {
	width: 130px;
	background-color: $green-color;

	@media screen and (min-width: 768px) {
		width: 138px;
	}
}

.locations-card__title {
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 10px;

	@media screen and (min-width: 768px) {
		font-size: 14px;
		margin-bottom: 14px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 16px;
		margin-bottom: 10px;
	}
}

.locations-card__description {
	line-height: 1.5;
	color: $gray-text-color;

	@media screen and (min-width: 768px) {
		line-height: 1.65;
	}

	@media screen and (min-width: 1200px) {
		line-height: 1.83;
	}
}

.locations-card__wrapp {
	position: relative;
	margin-bottom: 50px;

	@media screen and (min-width: 768px) {
		margin-bottom: 60px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 64px;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		border: 1px solid #e1e1e1;
		bottom: -25px;

		@media screen and (min-width: 768px) {
			bottom: -30px;
		}

		@media screen and (min-width: 1200px) {
			bottom: -32px;
		}
	}
}

.schedule__item {
	&:not(:last-child) {
		margin-bottom: 10px;

		@media screen and (min-width: 768px) {
			margin-bottom: 16px;
		}
	}
}

.schedule__time {
	color: $section-label-color;
}

.locations-address__link {
	line-height: 1.5;
	color: $gray-text-color;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (min-width: 768px) {
		line-height: 1.83;
	}

	&:hover,
	&:focus {
		color: $title-color;
	}
}

// Location buttons

.locations-button-wrapp {
	display: block;
	margin-top: 54px;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 81px;
	}

	@media screen and (min-width: 1200px) {
		margin-top: 86px;
	}
}

.locations-button__icon {
	margin-left: 8px;
}
