// Locations modal

.locations-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	transition: opacity 300ms linear, visibility 300ms linear;
	z-index: 101;
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.locations-modal {
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vw;
	height: 70vh;
	border-radius: 24px;
	border: 2px solid $section-label-color;
	background-color: $pink-backgroud;
	padding: 28px 27px 40px;
	overflow-y: hidden;

	@media screen and (min-width: 768px) {
		padding: 25px 37px 40px;
	}
}

.locations-modal-map {
	width: 100%;
	height: 51vh;
	border-radius: 15px;
}

.locations-modal__title {
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;

	@media screen and (min-width: 768px) {
		font-size: 24px;
	}

	@media screen and (min-width: 1280px) {
		font-size: 26px;
	}
}

.locations-modal__button {
	width: 50px;
	height: 50px;
	border: none;
	background-color: $pink-backgroud;
	position: absolute;
	top: 15px;
	right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	fill: $section-label-color;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: $hover-btnred;
	}
}
