.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 232, 237, 0.5);
  //   это для того, чтоб модальное окно проскролливалось
  overflow-y: scroll;
  z-index: 2;
  opacity: 1;
  transition: opacity $cubic;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity $cubic, visibility $cubic;
}

.backdrop.is-hidden .map-modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.map-modal {
  position: absolute;
  // padding: 25px 60px;
  padding: 20px;
  background: linear-gradient(45deg, rgb(231, 159, 185), rgb(249, 249, 249));
  width: 300px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $cubic;
  border-radius: 10px;
  border: 1px solid $main-color;

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 425px;
  }

  @media screen and (min-width: 1280px) {
    width: 800px;
    height: 475px;
  }
}
.map-modal-btn {
  color: $main-color;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color $cubic;

  &:focus,
  &:hover {
    background-color: $white-color;
  }
}

.map {
  width: 100%;
  height: 100%;
}
