.menu-container {
  padding: 60px 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e17992;
  z-index: 99;

  transition: transform $cubic;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.js-open-menu {
  border: none;
  background-color: transparent;
}
.js-close-menu {
  position: absolute;
  top: 24px;
  right: 28px;
  border: none;
  background-color: transparent;
}
.mobile-menu__close-icon {
  width: 14px;
  height: 14px;
  fill: $white-color;
  transition: fill $cubic;
  &:hover,
  &:focus {
    fill: #d41443;
    cursor: pointer;
  }
}

.button-submit_mob{    
  width: 210px;
  height: 45px;
  padding: 0 50px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  background-color: $white-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: $title-color;
  transition: background-color $cubic;
  &:hover,
  &:focus {
    background-color: $hover-btn;
}

@media screen and (min-width: 768px){
  width: 190px;
  height: 45px;
  padding: 0 44px;
}
}
.header-button_right.button-submit_mob {
  margin: 0 auto 19px;
  display: initial;
  @media screen and (min-width: 768px) {
    margin: 0 auto 19px;
  }
}

.mobile-menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  &__close-icon {
    stroke: $white-color;
    stroke-width: 2px;
    transition: stroke $cubic;
  }
  &__close-icon:hover,
  &__close-icon:focus {
    stroke: $title-color;
  }
  &__item {
    border-top: 1px solid #e18298;
    padding: 11px 24px 13px;
    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }
  &__link {
    padding: 11px 24px 13px;
    color: $white-color;
    transition: color $cubic;
    &:hover,
    &:focus {
      color: $title-color;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    transition: fill $cubic;
    &:hover,
    &:focus {
      fill: #d41443;
      cursor: pointer;
    }
  }
}
